{% section { 
	id: 'kitchen-sink',
	background: { 
		css: 'py-16',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'bg-white py-16'
	}
} 
%}

	<h1 class='h1'>Kitchen Sink</h1>
	
	<h2 class='h2'> Section Themes</h2>
	
	<div class='section-theme-light section-theme-light--background rounded-sm p-6 w-fit border-slate-200 border' >
		<h3 class='h3'>Section Theme Light</h3>
		<p class='lead'>Here's a sample text lead.</p>
		<p>Here's a sample paragraph. It can contain several sentances.</p>
		
		<div class='flex gap-2'>
			<button type='button' class='button primary small'>
				Primary
			</button>
			<button type='button' class='button secondary small'>
				Secondary
			</button>
			<button type='button' class='button tertiary small'>
				Tertiary
			</button>
		</div>
	</div>
	
	<div class='section-theme-dark section-theme-dark--background rounded-sm p-6 w-fit border-slate-200 border' >
		<h3 class='h3'>Section Theme Light</h3>
		<p class='lead'>Here's a sample text lead.</p>
		<p>Here's a sample paragraph. It can contain several sentances.</p>
		
		<div class='flex gap-2'>
			<button type='button' class='button primary small'>
				Primary
			</button>
			<button type='button' class='button secondary small'>
				Secondary
			</button>
			<button type='button' class='button tertiary small'>
				Tertiary
			</button>
		</div>
	</div>
	
	<h2 class='h2'> Buttons </h2>
	
	<style>
		.button-table td {
			padding: 4px 8px;
		}
	</style>
	
	<table  class='button-table overflow-y-scroll'>
		<thead>
			<tr>
				<td>Design</td>			
				<td>Large</td>
				<td>Medium</td>
				<td>Small</td>
				<td>Hover</td>
				<td>Active</td>
				<td>Disabled</td>
			</tr>
		<thead>
			<tr>
				<td>Primary</td>
				<td>
					<button type='button' class='button primary large'>
						Primary
					</button>
				</td>
				<td>
					<button type='button' class='button primary medium'>
						Primary
					</button>
				</td>
				<td>
					<button type='button' class='button primary small'>
						Primary
					</button>
				</td>
				<td>
					<button type='button' class='button primary small hover'>
						Primary
					</button>
				</td>
				<td>
					<button type='button' class='button primary small active'>
						Primary
					</button>
				</td>
				<td>
					<button type='button' class='button primary small' disabled>
						Primary
					</button>
				</td>
			</tr>
			
			<tr>
				<td>Secondary</td>
				<td>
					<button type='button' class='button secondary large'>
						Secondary
					</button>
				</td>
				<td>
					<button type='button' class='button secondary medium'>
						Secondary
					</button>
				</td>
				<td>
					<button type='button' class='button secondary small'>
						Secondary
					</button>
				</td>
				<td>
					<button type='button' class='button secondary small hover'>
						Secondary
					</button>
				</td>
				<td>
					<button type='button' class='button secondary small active'>
						Secondary
					</button>
				</td>
				<td>
					<button type='button' class='button secondary small' disabled>
						Secondary
					</button>
				</td>
			</tr>
			
			<tr>
				<td>Tertiary</td>
				<td>
					<button type='button' class='button tertiary large'>
						Tertiary
					</button>
				</td>
				<td>
					<button type='button' class='button tertiary medium'>
						Tertiary
					</button>
				</td>
				<td>
					<button type='button' class='button tertiary small'>
						Tertiary
					</button>
				</td>
				<td>
					<button type='button' class='button tertiary small hover'>
						Tertiary
					</button>
				</td>
				<td>
					<button type='button' class='button tertiary small active'>
						Tertiary
					</button>
				</td>
				<td>
					<button type='button' class='button tertiary small' disabled>
						Tertiary
					</button>
				</td>
			</tr>
		<tbody>
	</tbody>
	<table>
	
	
	
	
	<hr/>
	
	<h2 class='h2'>Typography</h2>
	<hr/>
	
	<p class="display-1">Display 1</p>
	<p class="display-2">Display 2</p>
	<p class="display-3">Display 3</p>
	<p class="display-4">Display 4</p>
	
	<p class="h1">h1. Heading</p>
	<p class="h2">h2. Heading</p>
	<p class="h3">h3. Heading</p>
	<p class="h4">h4. Heading</p>
	<p class="h5">h5. Heading</p>
	<p class="h6">h6. Heading</p>
	
	<hr/>
	
	<p class='eyebrow'>Standard text</p>
	<h2 class='h2'>Paragraphs</h2>
	
	<p class="lead">
		This is a lead paragraph. It stands out from regular paragraphs.
	</p>
	
	<p>
		This is a regular paragraph. It can contain several sentances.
	</p>
	
	<p>
		Here is another one. Each paragraph is separated by a small amount of margin.
	</p>
	
	<hr/>
	
	<p class='eyebrow'>Making it rich</p>
	<h2 class='h2'>Special text</h2>
	
	<p>You can use the mark tag to <mark>highlight</mark> text.</p>
	<p><del>This line of text is meant to be treated as deleted text.</del></p>
	<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
	<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
	<p>This line of text will render as <u> underlined.</u></p>
	<p><small>This line of text is meant to be treated as fine print.</small></p>
	<p>This line rendered as <strong> bold text.</strong></p>
	<p>This line rendered as <em> italicized text.</em></p>
	<p>This line rendered as a <a href='#'>link.</a></p>
	
	<p><abbr title="attribute">attr</abbr></p>
	<p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
	
	<figure>
		<blockquote class="blockquote">
			<p>A well-known quote, contained in a blockquote element.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			Someone famous in <cite title="Source Title">Source Title</cite>
		</figcaption>
	</figure>
	
	<ul>
		<li>Bulleted list item.</li>
		<li>Nested list
			<ul>
				<li>Nested list item</li>
			</ul>
		</li>
	</ul>
	
	<ol>
		<li>Numeric list item.</li>
		<li>Nested list
			<ol>
				<li>Nested list item</li>
			</ol>
		</li>
	</ol>
	
	<hr>
	
	
	
	
	
	
{% endsection %}
