{% section { 
	id: 'site-footer',
	background: { 
		css: 'bg-gradient-to-br from-slate-800 to-slate-900 section-theme-dark',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}

	<div class='flex flex-col w-full'>

		<div class="footer-links flex gap-4 justify-between flex-col md:flex-row flex-wrap">
			{% for group in footerLinks %}
				<div class="group first:pr-12 pb-12">
					<h2 class="font-bold text-lg pb-2">{{ group.title }}</h2>
					<ul class='footer-link-list'>
						{% for link in group.links %}
							<li class='flex items-center w-full transition-all rounded-md'>
								<a href="{{ link.url }}"  {% if link.openInNewTab %} noopener target='_blank' {% endif %} class="{% if not link.badge %}  w-full {% endif %} py-2 sm:py-2">{{ link.title}}</a>
								{% if link.badge %}
									<div>
										<span class='ml-2 bg-slate-300 rounded-full text-xs font-bold uppercase py-1 px-2 h-fit tracking-wide text-slate-800'>
											{{ link.badge }}
										</span>
									</div>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
		
		<div>
		
			
			<div class='md:hidden'>
			{{ '/images/logos/Wide - Color - On Dark.svg' | svgContents("max-w-sm mx-auto") | safe }}
			
			
			<p class="leading-tight opacity-60 mt-4 pb-4 text-sm text-center">© {{ settings.legal.siteStartYear }}-<span x-data='{}' x-text='new Date().getFullYear()'>2023</span> {{ settings.legal.companyName }}</br>All rights reserved.</p>
			
			</div>
			
			
			
			
			<div class='hidden md:block'>
			
			
			{{ '/images/logos/Footer Logo - Blue.svg' | svgContents("") | safe }} 
			
			</div>
			
			<div class='flex mb-4'>
				{% for link in socialLinks %}
					<a href='{{ link.url }}'   {% if link.openInNewTab %} noopener target='_blank' {% endif %} class='inline-block text-slate-700 hover:text-slate-900 hover:bg-slate-300 bg-slate-200 p-2 rounded-full mr-2'>
						{{ link.iconPath| svgContents("icon-lg") | safe }}
					</a>
				{% endfor %}
			</div>
		</div>
		
	</div>

{% endsection %}
