{% section { 
	id: 'hero-2',
	background: { 
		css: 'pt-4 sm:pt-12 pb-16 sm:pb-32',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'flex flex-col items-start text-left'
	}
} 
%}

		{# <p class='relative text-slate-500 bg-white/50 font-semibold rounded-full pl-6 pr-2 py-1.5 mb-3 shadow-xl/60 hover:shadow-xl/100 mb-6 flex items-center'>
			<span>
			Announcement
			<a href='#' class='button primary small ml-3'> 
				{{ '/phosphor-icons/bold/arrow-right-bold.svg' | svgContents("icon-sm fill-white") | safe }}
			</a>
		</p> #}
		
		<h1 class='text-5xl sm:text-6xl font-bold mb-6'><span class='text-blue-500'>Subsidized therapy</span><br/>for single parent kids.</h1>
		
		<p class='text-xl sm:text-2xl mb-1 sm:mb-0 text-black'>
			We're building futures. Changing lives.<br/>
		</p>
		
		<p class='text-xl sm:text-2xl mb-6 text-black'>
			Because every child <span class='font-bold'>deserves a chance</span>.
		</p>
		
		<div class='w-full sm:w-fit flex flex-col sm:flex-row justify-between gap-2 sm:gap-4 sm:justify-start'>
			{% link cta.primaryHeroCta %}{% endlink %}
			{% link cta.secondaryHeroCta %}{% endlink %}
		</div>
		
		<figure class='mt-8 w-full sm:w-fit'>
			
			<blockquote class='bg-blue-50 rounded-lg py-6 px-6 flex flex-row items-start justify-start'>
				<div class='flex flex-col items-start justify-start'>
					<span class='text-base font-medium text-slate-600 text-center sm:text-left inline-block w-full'>
				 	Created in loving memory of <span class=''>Chaya Bistritzky</span>.
					</span>
					<span class='text-sm inline-block text-slate-500 text-center sm:text-left w-full'>לעילוי נשמת רחמה חיה פרומא בת דוב פנחס</span>
				</div>
				</blockquote>
		</figure>
	
{% endsection %}
