{% section { 
	id: 'hero-2',
	background: { 
		css: 'py-16',
		image: {
			enabled: true,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'flex flex-col items-start text-left'
	}
} 
%}

		{# <p class='relative text-slate-500 bg-white/50 font-semibold rounded-full pl-6 pr-2 py-1.5 mb-3 shadow-xl/60 hover:shadow-xl/100 mb-6 flex items-center'>
			<span>
			Announcement
			<a href='#' class='button primary small ml-3'> 
				{{ '/phosphor-icons/bold/arrow-right-bold.svg' | svgContents("icon-sm fill-white") | safe }}
			</a>
		</p> #}
		
		<h1 class='text-5xl sm:text-6xl font-bold mb-6'>The gift of therapy,<br/>for those who need it most.</h1>
		
		<p class='text-lg max-w-md mb-6'>
			<span class='font-semibold'>Ahavas Chaya subsidizes therapy</span>
			<br/>
			for orphans and kids from single parent homes who cannot afford care.
		</p>
		
		<div class='w-full sm:w-fit flex flex-row justify-between gap-4 sm:justify-start'>
			{% link cta.primaryHeroCta %}{% endlink %}
			{% link cta.secondaryHeroCta %}{% endlink %}
		</div>
	
{% endsection %}
