<nav 
x-data="{ expanded: false }"
x-init="$watch('expanded', (isOpening) => {
	isOpening ? bodyScrollLock.disableBodyScroll($root) : bodyScrollLock.clearAllBodyScrollLocks()
})"
@click.outside='expanded = false'
class=' pr-2 sm:px-6 sm:py-5 bg-white bg-opacity-80 		backdrop-blur-xl z-20 {% if settings.header.sticky and not disableNavbarSticky %} sticky top-0 {% endif%}' >

	<div class='relative flex justify-between items-center w-full md:max-w-5xl md:mx-auto md:px-6'>
		<button
			type='button'
			class='mr-4 sm:hidden p-3 opacity-80 hover:opacity-100 active:bg-slate-100'
			@click="expanded = ! expanded"
			role="button"
			aria-label="Menu"
			:aria-expanded="expanded"
			>
	 	{{ '/phosphor-icons/regular/list.svg' | svgContents("icon-lg") | safe }}
		</button>
		
		
		
		<a href='/' class='text-xl sm:text-2xl font-bold block center-transform-all sm:center-transform-none'>
			<span class='sr-only'>Home</span>
		{{ '/images/logos/Ahavas Chaya Logo_Blue.svg' | svgContents("h-10 mt-2") | safe }}
		
		</a>
		
		{% for link in navlinks %}
			<a href='{{ link.url }}' class='{{ link.cssClasses }} hover:underline hover:decoration-2 hover:decoration-blue-400 underline-offset-2 py-3 px-6 text-sm'>
				{{ link.label }}
			</a>
		{% endfor %}
		
		{% include 'components/mobile-menu.njk'%}	
	
	</div>
</nav>

