---json
{
	"pageTitle": "About Us",
	"pageDescription": "Learn more about the Ahavas Chaya mission - funding therapy for single-parent kids",
	"permalink": "/about/",
	"meta": {
		"title": "About Us",
		"description": "Learn more about the Ahavas Chaya mission - funding therapy for single-parent kids",
		"url": "/about/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "About",
				"url": "/about",
				"position": 2
			}
		]
	}
}
---

{% extends "_includes/default.njk" %}
{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% block content %}
{% section { 
	id: 'about-main',
	background: { 
		css: 'py-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'max-w-4xl'
	}
} 
%}
	 
	 
	 
	 <div class='article'>
	 	
		 {{ 
				pageHeader({ 
					title: "About", 
					subtitle: "Learn more about Ahavas Chaya" 
			 }) 
		 }}
	 
	  {% markdown %}
			{%- include "../copy/about.md" -%}
		{% endmarkdown %}
	 </div>
	 
	 {%- include "components/wrapups/contact-wrapup.njk" -%} 
	{% endsection %}
{% endblock %}