---json
{
	"pageTitle": "Apply",
	"pageDescription":  "Start your application for Ahavas Chaya funding today",
	"permalink": "/apply/",
	"meta": {
		"title": "Apply",
		"description": "Start your application for Ahavas Chaya funding today",
		"url": "/apply/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "Apply",
				"url": "/apply",
				"position": 2
			}
		]
	}
}
---

---
pageTitle: Apply
pageDescription: Start your application for Ahavas Chaya funding
permalink: "/apply/"
---

{% extends "_includes/default.njk" %}
{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% block content %}
{% section { 
	id: 'about-main',
	background: { 
		css: 'py-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'article pb-12'
	}
} 
%}
	 {{ 
			 pageHeader({ 
				 title: "Apply", 
				 subtitle: "Apply for Ahavas Chaya funding today!" 
			}) 
		}}
		
		
		<p>To begin:</p>
		<ol>
			<li>One of the parents should fill out the <a href='/apply/parents'>parent's form.</a></li>
			<li>Your school or liaison should fill out the <a href='/apply/liaisons'>liaison form.</a></li>
		</ol>
		
		<p>You <span class='font-bold'>must</span> submit both forms to be considered.</p>
		
		<div class='w-full flex flex-wrap gap-6 mt-8'>
			<a href='/apply/parents' class='application-card card-blue'>
				<h2 class='text-blue-600'>Parent's application</h2>
				<p class='text-sm'>This form should be filled out by the child's parent.</p>
				<button type='button' class='button medium primary'>Start</button>
			</a>
			
			<a href='/apply/liaisons' class='application-card'>
				<h2>School / Liaison's application</h2>
				<p class='text-sm'>This form should be filled out by a school faculty member or other family liaison.</p>
				<button type='button' class='button medium secondary'>Start</button>
			</a>
		</div>
		
		
	{% endsection %}
{% endblock %}