---
permalink: "/apply/"
---

{% extends "_includes/default.njk" %}
{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% block content %}
{% section { 
	id: 'about-main',
	background: { 
		css: 'py-16',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}
	 {{ 
			 pageHeader({ 
				 title: "Apply", 
				 subtitle: "Begin your application process today!" 
			}) 
		}}
		
		
	{% endsection %}
{% endblock %}