---json
{
	"pageTitle": "Contact Us",
	"pageDescription":  "Get in touch with Ahavas Chaya - we can't wait to hear from you!",
	"permalink": "/contact/",
	"meta": {
		"title": "Contact Us",
		"description": "Get in touch with Ahavas Chaya - we can't wait to hear from you!",
		"url": "/contact/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "Contact",
				"url": "/contact",
				"position": 2
			}
		]
	}
}
---

{% extends "_includes/default.njk" %}
{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% block content %}
{% section { 
	id: 'contact-main',
	css: 'pb-0',
	background: { 
		css: 'pb-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'pb-0'
	}
} 
%}
	{{ 
			pageHeader({ 
				title: "Contact Us", 
				subtitle: "We can't wait to hear from you." 
		 }) 
	 }}
	 
	 <div class='max-w-2xl mx-auto'>
	  <p class='mb-8'>Got a question? Review our <a href='/#faq'>frequently asked questions</a>.</p>
	 
	 	<p>You can email us at <a href='mailto:info@ahavaschaya.com'>info@ahavaschaya.com</a></p>
	 	<p class='mb-8'>Our number is <a href='tel:+19176260494'>(917) 626-0494</a></p>
		
		<p>Or fill out the form below, and our staff will get back to you within 1 business day.</p>
	 </div>
	{% endsection %}
	
	<script type="text/javascript" src="https://form.jotform.com/jsform/232734138080048"></script>
{% endblock %}