---
permalink: "/eligibility/"
---

{% extends "_includes/default.njk" %}

{% block content %}
{% section { 
	id: 'eligibility-main',
	background: { 
		css: 'py-16',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}
	 <h1 class='display-2'>Eligibility</h1>
	{% endsection %}
{% endblock %}