---json
{
	"pageTitle": "Eligibility",
	"pageDescription": "Learn about eligibility for Ahavas Chaya funding",
	"permalink": "/eligibility/",
	"meta": {
		"title": "Eligibility",
		"description": "Learn about eligibility for Ahavas Chaya funding",
		"url": "/donate/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "Eligibility",
				"url": "/eligibility",
				"position": 2
			}
		]
	}
}
---

{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% extends "_includes/default.njk" %}

{% block content %}
{% section { 
	id: 'eligibility-main',
	background: { 
		css: 'py-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}

	<div class='article autoformat-markdown'>
		 
		 {{ 
				pageHeader({ 
					title: "{{ pageTitle }}", 
					subtitle: "{{ pageDescription }}" 
			 }) 
		 }}
	 
		{% markdown %}
			{%- include "../copy/eligibility.md" -%}
		{% endmarkdown %}
	 </div>
	 
	 {%- include "components/wrapups/contact-wrapup.njk" -%} 

	{% endsection %}
{% endblock %}