---json
{
	"pageTitle": "How funding works",
	"pageDescription": "Learn about Ahavas Chaya funding",
	"permalink": "/how-funding-works/",
	"type": "post",
	"meta": {
		"title": "How funding works",
		"description": "Learn about Ahavas Chaya funding",
		"url": "/donate/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "How funding works",
				"url": "/how-funding-works",
				"position": 2
			}
		]
	}
}
---

{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% extends "_includes/default.njk" %}

{% block content %}
{% section { 
	id: 'funding-main',
	background: { 
		css: 'py-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: 'pb-12'
	}
} 
%}

	<div class='article autoformat-markdown'>
		 
		 {{ 
				pageHeader({ 
					title: "How Funding Works", 
					subtitle: "Learn about Ahavas Chaya funding" 
			 }) 
		 }}
	 
		{% markdown %}
			{%- include "../copy/funding.md" -%}
		{% endmarkdown %}
	 </div>
	 
	 {%- include "components/wrapups/contact-wrapup.njk" -%} 

	{% endsection %}
{% endblock %}