---json
{
   "pageTitle": "Home",
   "pageDescription": "Subsidized therapy for single parent kids. Because every child deserves a chance.",
   "permalink": "/",
   "meta": {
      "title": "Home",
      "description": "Subsidized therapy for single parent kids. Because every child deserves a chance.",
      "url": "/",
      "breadcrumbs": [
         {
            "name": "Home",
            "url": "/",
            "position": 1
         }
      ]
   }
}
---

{% extends "_includes/default.njk" %}

{% block content %}
   <main class='h-full relative min-h-screen pb-12'>     
      {% include 'components/hero.njk'%}
      
      {# {% include 'sections/kitchen-sink.njk'%} #}
      {# {% include 'components/hero-2.njk'%} #}
      {# {% include 'components/kitchen-sink.njk' %} #}
      
      {% include 'components/faq.njk'%}
      {# {% include 'components/mailing-list.njk'%} #}
      
      <div class='max-w-5xl mx-auto'>
         {%- include "components/wrapups/contact-wrapup.njk" -%} 
      </div>
   </main>
{% endblock %}