---
permalink: "/"
---

{% extends "_includes/default.njk" %}

{% block content %}
   <main class='h-full relative min-h-screen bg-slate-100'>     
      {% include 'components/hero.njk'%}
      {# {% include 'components/hero-2.njk'%} #}
      {# {% include 'components/kitchen-sink.njk' %} #}
      
      {% include 'components/mega-bullets.njk'%}
      {% include 'components/faq.njk'%}
      {# {% include 'components/mailing-list.njk'%} #}
   </main>
{% endblock %}