---json
{
	 "pageTitle": "School / Liaison Application",
	 "pageDescription": "Apply on behalf of a child as a school or liaison.",
	 "permalink": "/apply/liaisons/",
	 "meta": {
			"title": "School / Liaison Application",
			"description": "Apply on behalf of a child as a school or liaison.",
			"url": "/apply/liaisons/",
			"breadcrumbs": [
				 {
						"name": "Home",
						"url": "/",
						"position": 1
				 },
				 {
						 "name": "Apply",
						 "url": "/apply/",
						 "position": 2
				 },
				 {
							"name": "School / Liaison Application",
							"url": "/apply/liaisons/",
							"position": 3
					}
			]
	 }
}
---

{% extends "_includes/default.njk" %}

{% block content %}
{# {% section { 
	id: 'about-main',
	background: { 
		css: 'py-0',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}
	 <h1 class='display-2'>School / Liaison Application</h1>
	{% endsection %} #}
	
	<script type="text/javascript" src="https://form.jotform.com/jsform/232734277953061"></script>
{% endblock %}