---json
{
	"pageTitle": "Nonprofit Status",
	"pageDescription": "Ahavas Chaya is a registered 503(c)3 nonprofit in the United States. Learn more about our nonprofit status.",
	"permalink": "/nonprofit/",
	"meta": {
		"title": "Nonprofit Status",
		"description": "Ahavas Chaya is a registered 503(c)3 nonprofit in the United States. Learn more about our nonprofit status.",
		"url": "/nonprofit/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "Nonprofit Status",
				"url": "/nonprofit",
				"position": 2
			}
		]
	}
}
---

{% extends "_includes/default.njk" %}

{% block content %}
{% section { 
	id: 'about-main',
	background: { 
		css: '',
		image: {
			enabled: false,
			url: '/images/backgrounds/white-abstract-2.jpg',
			alt: 'Hexagons on a light background', 
			opacity: 0.5,
			css: 'object-cover scale-110',
			attributes: 'rellax data-rellax-speed="-1"'
		},
		overlay: {
			enabled: false,
			css: 'bg-white',
			opacity: 0.85
		}
	},
	content: {
		css: ''
	}
} 
%}
	 <h1 class='display-2'>Nonprofit Status</h1>
	 
	 <p>Ahavas Chaya is a IRS-registered nonprofit in the state of New York.</p>
	 	
		<p class='flex gap-1'>
		{{ '/phosphor-icons/fill/check-circle-fill.svg' | svgContents("icon-lg fill-emerald-500") | safe }}
		Registered 501(c)(3) nonprofit
		</p>
		
		<p class='flex gap-1'>
		{{ '/phosphor-icons/fill/check-circle-fill.svg' | svgContents("icon-lg fill-emerald-500") | safe }}
		All donations are tax deductibile
		</p>
		
		<p class='flex gap-1'>
		{{ '/phosphor-icons/fill/check-circle-fill.svg' | svgContents("icon-lg fill-emerald-500") | safe }}
		Maaser money can be used
		</p>
	
		<p class='flex gap-1'>
		{{ '/phosphor-icons/fill/info-fill.svg' | svgContents("icon-lg fill-sky-500") | safe }}
		IRS EIN: 86-3024529</p>
	 
	 	<hr/>
	 
	 <p>
	 	<span class='text-slate-800 font-semibold'>Legal address:</span><br/>
		3512 Quentin Road, <br/>Suite LL100-2, <br/>BROOKLYN, NY, <br/>UNITED STATES, <br/>11234
	 </p>
	 
	 <p>
			View our 
			
			{% link {
			 url: "https://www.charitynavigator.org/ein/863024529", 
			 label: "Charity Navigator profile ›",
			 openInNewTab: true,
			 fathomClickId: ""
			} %}
			{% endlink %}
		</p>
		
		{%- include "components/wrapups/contact-wrapup.njk" -%} 
		 
	{% endsection %}
{% endblock %}