---json
{
	"pageTitle": "Privacy",
	"pageDescription": "Learn more about our privacy policy.",
	"permalink": "/privacy/",
	"autoformatMarkdownDocument": true,
	"meta": {
		"title": "Privacy",
		"description": "Learn more about our privacy policy.",
		"url": "/privacy/",
		"breadcrumbs": [
			{
				"name": "Home",
				"url": "/",
				"position": 1
			},
			{
				"name": "Privacy Policy",
				"url": "/privacy",
				"position": 2
			}
		]
	}
}
---


{% extends "_includes/default.njk" %}
{%- from '_includes/components/macros/page-header.njk' import pageHeader %}

{% block content %}
{% section { 
	id: 'about-main',
	background: { 
		css: 'py-0',
		image: {
		},
		overlay: {
		}
	},
	content: {
		css: ''
	}
} 
%}
	 
	 
	 
	 <div class='article'>
	 
	  {{ 
	 		pageHeader({ 
	 			title: "Privacy Policy", 
		 		subtitle: "Updated October 1, 2023" 
			}) 
		}}
	  
		{% markdown %}
			{%- include "../copy/privacy.md" -%}
		{% endmarkdown %}
	 <div>
	 
	{%- include "components/wrapups/contact-wrapup.njk" -%} 
	
	{% endsection %}
	
	
{% endblock %}