 <a href='/contact' class='bg-gradient-to-br from-blue-500 to-blue-600 rounded-md py-16 flex flex-col items-center mt-8 section-theme-dark w-full shadow-2xl shadow-blue-400/30 transition-all hover:brightness-120 max-sm:rounded-none'>
	 <h2 class='h1 text-center'>Got questions?</h2>
	 <p class='text-center'>We're happy to help!</p>
	 <button type='button' class='button primary medium'>
	 Contact us
	 </button>
 </a>