 <a href='/contact' class='bg-gradient-to-br from-slate-700 to-slate-900 rounded-md p-8 flex flex-col items-center mt-8 section-theme-dark mx-auto max-w-2xl shadow-2xl transition-all hover:brightness-120'>
	 <h2 class='h2'>Got questions?</h2>
	 <p>We're happy to help!</p>
	 <button type='button' class='button primary medium'>
	 Contact us
	 </button>
 </a>