{%- macro pageHeader(params) -%}
	<div class='mb-2 sm:mb-4 max-w-2xl mx-auto text-left flex flex-col items-start'>
		 <h1 class='display-2'>{{ params.title }}</h1>
		<p class='text-base sm:text-lg opacity-80'>{{ params.subtitle }}</p>
		<div class='w-16 h-1 bg-blue-400 mt-1 sm:mt-2 mb-6 rounded-full'></div>
	</div>
{%- endmacro -%}

	