{%- macro pageHeader(params) -%}
	<div class='mb-16 max-w-xl mx-auto'>
		 <h1 class='display-2 text-left'>{{ params.title }}</h1>
		<p class='text-left opacity-80'>{{ params.subtitle }}</p>
		<hr/>
	</div>
{%- endmacro -%}

	