{%- macro pageHeader(params) -%}
	<div class='mb-16 max-w-lg mx-auto'>
		 <h1 class='display-2 text-center'>{{ params.title }}</h1>
		<p class='lead text-center opacity-80'>{{ params.subtitle }}</p>
	</div>
{%- endmacro -%}

	