@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
}

:root {
  --theme-light--color--text-level-1:  theme(colors.slate.900);
  --theme-light--color--text-level-2:  theme(colors.slate.800);
  --theme-light--color--text-level-3:  theme(colors.slate.700);
  --theme-light--color--text-level-4:  theme(colors.slate.600);
  --theme-light--color--text-level-5:  theme(colors.slate.500);
  --theme-light--color--text-level-6:  theme(colors.slate.400);
  --theme-light--color--text-level-7:  theme(colors.slate.300);
  --theme-light--color--text-level-8:  theme(colors.slate.200);
  --theme-light--color--text-level-9:  theme(colors.slate.100);
  --theme-light--color--text-level-10:  theme(colors.slate.50);
}

.theme--light {
  --theme--text-level-1: var(--theme-light--color--text-level-1);
  --theme--text-level-2: var(--theme-light--color--text-level-2);
  --theme--text-level-3: var(--theme-light--color--text-level-3);
  --theme--text-level-4: var(--theme-light--color--text-level-4);
  --theme--text-level-5: var(--theme-light--color--text-level-5);
  --theme--text-level-6: var(--theme-light--color--text-level-6);
  --theme--text-level-7: var(--theme-light--color--text-level-7);
  --theme--text-level-8: var(--theme-light--color--text-level-8);
  --theme--text-level-9: var(--theme-light--color--text-level-9);
}

html {
  background: theme(colors.white);
}

main {
  background: theme(colors.white);
}


::selection {
  background: theme(colors.blue.600);
  color: theme(colors.white);
}

.overflow-hidden.rounded-full {
  /* Fix for this bug in Safari  https://stackoverflow.com/a/58283449/6068782 */
  isolation: isolate;
}

.background-pulse {
  --gradient-ends: theme(colors.slate.300);
  --gradient-middle: theme(colors.slate.400);
  background: linear-gradient(135deg, var(--gradient-ends), var(--gradient-middle), var(--gradient-ends));
  animation: flow 3s infinite;
  background-size: 200%;
}

@keyframes flow {
  0% {
    background-position: 0 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0%;
  }
}

@layer components {
  
  .icon-10xl {
    height: 8rem;
    min-width: 8rem;
  }
  
  .icon-9xl {
    height: 7rem;
    min-width: 7 rem;
  }
  
  .icon-8xl {
    height: 6rem;
    min-width: 6rem;
  }
  
  .icon-7xl {
    height: 5rem;
    min-width: 5rem;
  }
  
  .icon-6xl {
    height: 4.5rem;
    min-width: 4.5rem;
  }
  
  .icon-5xl {
    height: 3.25rem;
    min-width: 3.25rem;
  }
  
  .icon-4xl {
    height: 2.75rem;
    min-width: 2.75rem;
  }
  
  .icon-3xl {
    height: 2.25rem;
    min-width: 2.25rem;
  }
  
  .icon-2xl {
    height: 2rem;
    min-width: 2rem;
  }
  
  .icon-xl {
    height: 1.75rem;
    min-width: 1.75rem;
  }
  
  .icon-lg {
    height: 1.7rem;
    min-width: 1.7rem;
  }
  
  .icon-md {
    height: 1.5rem;
    min-width: 1.5rem;
  }
  
  .icon-sm {
    height: 1.2rem;
    min-width: 1.2rem;
  }
  
  .icon-xs {
    height: 1rem;
    min-width: 1rem;
  }


  .button {
    @apply inline-block relative rounded-full border-2 border-transparent font-semibold cursor-pointer disabled:opacity-30 disabled:cursor-default tracking-wide no-underline shadow-sm transition-all;
    /* hover:underline hover:decoration-2 disabled:hover:no-underline;  */
  }
  
  .button.small {
    @apply text-sm sm:text-sm py-0.5 px-3;
  }
  
  .button.medium {
    @apply text-base py-1 px-4;
  }
  
  .button.large {
    @apply text-lg sm:text-xl py-2 px-6;
  }
  
  .button.primary {
    @apply border-2 text-white bg-opacity-90 hover:bg-opacity-100 disabled:hover:bg-opacity-80;
    color: var(--button--text-color--primary);
    background-color: var(--button--background-color--primary);
    border-color: var(--button--border-color--primary);
  }
  
  .button.primary:hover,
  .button.primary.hover {
    @apply hover:brightness-110 disabled:hover:brightness-100;
  }
  
  .button.primary:active,
  .button.primary.active {
    @apply hover:brightness-125 disabled:hover:brightness-100;
  }
  
  .button.primary::after {
    background-color: var(--button--text-color--primary);
  }
  
  .button.secondary::after {
    background-color: var(--button--text-color--secondary);
  }
  
  .button.tertiary::after {
    background-color: var(--button--text-color--tertiary);
  }
  
  .button.secondary {
    @apply border-2;
    
    color: var(--button--text-color--secondary);
    background-color: var(--button--background-color--secondary);
    border-color: var(--button--border-color--secondary);
  }
  
  .button.secondary:hover,
  .button.secondary.hover {
    @apply brightness-110 disabled:brightness-100;
  }
  
  .button.secondary:active,
  .button.secondary.active {
    @apply hover:brightness-125 disabled:hover:brightness-100;
  }
  
  .button.tertiary {
    @apply border-opacity-10 hover:border-opacity-50 disabled:hover:border-opacity-10;
    color: var(--button--text-color--tertiary);
    background-color: var(--button--background-color--tertiary);
    border-color: var(--button--border-color--tertiary);
  }
  
  .button.tertiary:hover {
    @apply bg-black text-white;
  }
  
  
  /* Button FX */
  
  a {
    position: relative;
  }
  
  
  /* From https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
  
  /* a::after,
  .button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a:not([disabled]):hover::after,
  .button:not([disabled]):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */
  
  
  
  .center-transform-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center-transform-none {
    position: static;
    top: none;
    left: none;
    transform: none;
  }
  
}


.section-theme-light {
  --default-text-color: var(--theme--text-level-2);
  
  --display-text-color: var(--theme--text-level-1);
  --heading-text-color: var(--theme--text-level-2);
  --lead-text-color: var(--theme--text-level-3);
  --body-text-color: var(--theme--text-level-3);
  --eyebrow-text-color: var(--theme--text-level-5);
  --link-hover-color: theme(colors.blue.500);
  
  --button--text-color--primary: theme(colors.white);
  --button--background-color--primary: theme(colors.blue.500);
  --button--border-color--primary: theme(colors.blue.500);
  
  
  --button--text-color--secondary: theme(colors.white);
  --button--background-color--secondary: theme(colors.black);
  --button--border-color--secondary: theme(colors.black);
  
  
  --button--text-color--tertiary: theme(colors.slate.700);
  --button--background-color--tertiary: theme(colors.white);
  --button--border-color--tertiary: theme(colors.slate.700);
  
  --section-theme--text-level-1: var(--theme--text-level-1);
  --section-theme--text-level-2: var(--theme--text-level-2);
  --section-theme--text-level-3: var(--theme--text-level-3);
  --section-theme--text-level-4: var(--theme--text-level-4);
  --section-theme--text-level-5: var(--theme--text-level-5);
  --section-theme--text-level-6: var(--theme--text-level-6);
  --section-theme--text-level-7: var(--theme--text-level-7);
  --section-theme--text-level-8: var(--theme--text-level-8);
  --section-theme--text-level-9: var(--theme--text-level-9);
}

.section-theme-light--background {
  @apply bg-slate-50;
  color: var(--default-text-color);
}

.section-theme-dark {
  --default-text-color: var(--theme--text-level-8);
  
  --display-text-color: var(--theme--text-level-9);
  --heading-text-color: var(--theme--text-level-9);
  --lead-text-color: var(--theme--text-level-8);
  --body-text-color: var(--theme--text-level-8);
  --eyebrow-text-color: var(--theme--text-level-5);
  --link-hover-color: theme(colors.white);
  
 --button--text-color--primary: theme(colors.blue.600);
 --button--border-color--primary: theme(colors.white);
 --button--background-color--primary: theme(colors.white);
 
 --button--text-color--secondary: theme(colors.white);
 --button--background-color--secondary: theme(colors.black);
 --button--border-color--secondary: theme(colors.white);
 
 
 --button--text-color--tertiary: theme(colors.slate.200);
 --button--background-color--tertiary: theme(colors.black);
 --button--border-color--tertiary: theme(colors.slate.400);
 
 --section-theme--text-level-1: var(--theme--text-level-9);
 --section-theme--text-level-2: var(--theme--text-level-8);
 --section-theme--text-level-3: var(--theme--text-level-7);
 --section-theme--text-level-4: var(--theme--text-level-6);
 --section-theme--text-level-5: var(--theme--text-level-5);
 --section-theme--text-level-6: var(--theme--text-level-4);
 --section-theme--text-level-7: var(--theme--text-level-3);
 --section-theme--text-level-8: var(--theme--text-level-2);
 --section-theme--text-level-9: var(--theme--text-level-1);
}

.section-theme-dark--background {
  @apply bg-slate-900;
  color: var(--default-text-color);
}




.autoformat-markdown h1,
.autoformat-markdown h2,
.autoformat-markdown h3,
.autoformat-markdown h4,
.autoformat-markdown h5,
.autoformat-markdown h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  @apply font-sans font-bold mb-2 leading-tight;
  color: var(--heading-text-color);
}

.display-1, .display-2, .display-3, .display-4 {
  @apply font-sans font-semibold leading-tight mb-1 sm:mb-3;
  color: var(--display-text-color);
}

.display-1 {
  @apply text-5xl sm:text-7xl;
} 

.autoformat-markdown h1,
.display-2 {
  @apply text-4xl sm:text-6xl;
} 

.display-3 {
  @apply text-3xl sm:text-5xl;
} 

.display-4 {
  @apply text-2xl;
}



.h1 {
  @apply text-3xl;
}

.autoformat-markdown h2,
.h2 {
  @apply text-2xl;
}

.autoformat-markdown h3,
.h3 {
  @apply text-lg sm:text-xl;
}

.autoformat-markdown h4,
.h4 {
  @apply text-lg;
}

.autoformat-markdown h5,
.h5 {
  @apply text-base;
}

.autoformat-markdown h6,
.h6 {
  @apply text-sm;
}

.lead {
 @apply text-xl mb-4; 
 color: var(--lead-text-color);
}



hr {
  @apply my-4;
}

.eyebrow {
  @apply text-sm sm:text-xs uppercase tracking-wider font-bold mb-0 opacity-80;
  color: var(--eyebrow-text-color);
}

small {
  @apply text-sm font-semibold leading-tight;
  color: var(--theme--text-level-3);
}

p {
  @apply text-lg sm:text-base mb-3 leading-relaxed; 
  color: var(--body-text-color);
  max-width: 80ch;
}

table a,
p a,
li a, {
  @apply font-semibold underline decoration-2 underline-offset-2 decoration-blue-400 transition-all;
  color: var(--theme--text-level-3);
}

table a:hover,
p a:hover,
li a:hover {
  color: var(--link-hover-color);
  text-decoration-color: var(--link-hover-color);
}

figure:has(.blockquote) {
  @apply bg-slate-100 rounded-lg p-6 mb-6;
}

.blockquote {
  @apply text-lg sm:leading-tight mb-2;
  color: var(--theme--text-level-1);
}

.blockquote-footer {
  @apply uppercase font-bold text-xs tracking-wide;
  color: var(--theme--text-level-5);
}

.blockquote-footer::before {
  color: var(--theme--text-level-4);
  content: "– ";
}

ol, ul {
  @apply ml-6 mb-4;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}


.autoformat-markdown li,
ol li, 
ul li {
  @apply text-lg;
  color: var(--body-text-color);
}

picture {
  @apply block h-full w-full;
}

picture img {
  @apply block h-full w-full;
}

.footer-link-list {
  @apply ml-0;
  
}

.footer-links h2 {
  @apply text-base;
  color: var(--section-theme--text-level-2);
}

.footer-links li a {
  @apply text-sm transition-all no-underline;
  color: var(--section-theme--text-level-4);
}

.footer-links li:hover a {
  color: var(--section-theme--text-level-2);
}

.article {
  @apply max-w-2xl w-fit mx-auto;
}

.article p {
  @apply block text-base sm:text-lg mb-4;
  max-width: 60ch;
}

.application-card {
  @apply p-6 border-2 border-black rounded-lg shadow-md hover:shadow-lg transition-all w-full;
}

.application-card h2 {
  @apply font-bold;
}

.turbo-progress-bar {
  height: 5px;
  @apply bg-blue-500;
}


.how-it-works--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media screen and (max-width: 639px) {
  .how-it-works--grid {
    @apply grid-cols-1;
  }
}

.how-it-works--grid-item .body p {
  @apply text-sm sm:text-base;
}